{# Cover Letter Template for RFQ Emails #}
Hello {{ contact_name or vendor_name_short or "Team" }},<br>
<br>
We are requesting a quote for the following part and process:<br>
<br>
{% if sample_table %}
{{ sample_table }}<br>
{% endif %}

See link to BOX folder below- if password protected, a followup email will be sent shortly.<br>
<br>
Please respond with your quote by {{ due_date or "as soon as possible" }}.<br>
<br>
Thank you for your assistance.
<br>
<!-- HTML signature will be appended here -->
